collector/elk/logstash/ssl/*.key
collector/elk/logstash/ssl/*.crt
collector/elk/logstash/ssl/out/*

collector/elk/nginx/*.key
collector/elk/nginx/*.crt

sensor/filebeat/ssl/*.key
sensor/filebeat/ssl/*.crt
sensor/filebeat/ssl/serial
sensor/filebeat/ssl/out/*
